html {
  margin: 0 auto;
}
/* body {
  margin: 0 auto;
} */

.gameField {
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
  /* flex-direction: column; */
}
.field {
  display: flex;
  /* flex-direction: column; */
}
.cell {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  display: block;
  background-size: cover;
}
.snake {
  background-color: green;
}
.food1 {
  background-image: url(./images/apple-3155.png);
}
.food2 {
  background-image: url(./images/banana-9625.png);
}
.food3 {
  background-image: url(./images/strawberry-9619.png);
}
.form {
  display: inline-flex;
  padding: 20px;
  width: 500px;
  border: 1px solid black;
}
